__pycache__/
*.py[cod]
*.so

.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.manifest
wheelhouse/
*.whl

.env/
venv/
env/
ENV/
bin/
lib/
include/
share/

pip-log.txt
pip-delete-this-line.txt
pip.log

services.py
pricing_2026-02-13.pdf
.idea
